table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f9f9f9;
    text-align: right;

  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #368def;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .update {
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 15px;
    margin-right: 20px;
    display: inline-block;
  }
  
  .delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 15px;
    display: inline-block;
  }
  

  .container {
    max-width: 1000px; /* adjust this value as needed */
    margin: auto;
  }
  
  
  